@{
    ViewData["Title"] = "Home Page";
    var userFirstName = ViewData["UserFirstName"] as string;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome! @userFirstName</p>
</div>
