@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Privacy Policy

    At UvarTo, we value your privacy and are committed to protecting your personal information. Our Privacy Policy outlines how we collect, use, and safeguard your data when you use our website.

    1. **Information Collection:** We collect information you provide, such as when you create an account, submit recipes, tips or foodmenus

    2. **Use of Information:** Your data is used to personalize your experience, improve our services, and communicate with you. We do not share your information with third parties without your consent.

    3. **Security:** We take measures to protect your data, but it's essential to remember that no online platform is entirely secure. Please use a strong, unique password for your account.

    By using UvarTo, you agree to our Privacy Policy.

    Thank you for being part of our culinary community!
</p>

