
div h2[b-50r9s28lb8] {
    text-align: center;
}
[b-50r9s28lb8]::placeholder {
    color: gray;
}

div.row[b-50r9s28lb8] {
   
    margin-top: 5px;
}

div #main[b-50r9s28lb8] {
    border: 0px solid black;
}





div.col-md-8 h3.recipe-name-link[b-50r9s28lb8] {
    color: black;
    text-decoration: none;
}


    div.col-md-8 h3.recipe-name-link:hover[b-50r9s28lb8] {
        color: darkgray;
    }


div.col-md-8 a[b-50r9s28lb8] {
    color: black !important;
    text-decoration: none !important;
}


    div.col-md-8 a:hover[b-50r9s28lb8] {
        color: darkgray !important;
    }


:-ms-input-placeholder[b-50r9s28lb8] {
    color: gray;
}

[b-50r9s28lb8]::-ms-input-placeholder {
    color: gray;
}

.btn-custom[b-50r9s28lb8] {
    background-color: black;
    color: white;
    border: 1px solid black;
    outline: none;
    box-shadow: none;
    border-color: black;
}

    .btn-custom:focus[b-50r9s28lb8],
    .btn-custom:active[b-50r9s28lb8],
    .btn-custom:hover[b-50r9s28lb8] {
        background-color: black;
        color: white;
        border-color: black;
        box-shadow: none;
    }


.form-control:focus[b-50r9s28lb8] {
    box-shadow: none;
    border-color: black;
}


.btn-custom:focus[b-50r9s28lb8] {
    box-shadow: none;
    border-color: black;
}

.search-form[b-50r9s28lb8] {
    display: flex;
    justify-content: space-between;
}


.search-input[b-50r9s28lb8] {
    flex-grow: 1;
    margin-right: 10px;
}


.search-button[b-50r9s28lb8] {
    flex-shrink: 0;
    padding-top: 23px;
}

div h2[b-50r9s28lb8] {
    text-align: center;
}

[b-50r9s28lb8]::placeholder {
    color: gray;
}


div #main[b-50r9s28lb8] {
    border: 0px solid black;
}



.tips-name-link a[b-50r9s28lb8] {
    color: black;
    text-decoration: none;
}

div h3.tips-name-link[b-50r9s28lb8] {
    color: black;
    text-decoration: none;
}


div.col-md-8 h3.tips-name-link:hover[b-50r9s28lb8] {
    color: darkgray;
}


div.col-md-8 a[b-50r9s28lb8] {
    color: black !important;
    text-decoration: none !important;
}


    div.col-md-8 a:hover[b-50r9s28lb8] {
        color: darkgray !important;
    }


.no-border[b-50r9s28lb8] {
    border: 0px solid black;
}
.text-right-md[b-50r9s28lb8] {
    text-align: right;
}

.text-right-md p[b-50r9s28lb8] {
    margin-right: 0; 
}