
div h2[b-sglxkwq506] {
    text-align: center;
}

[b-sglxkwq506]::placeholder {
    color: gray;
}



div #main[b-sglxkwq506] {
    border: 0px solid black;
}



div.col-md-8 a[b-sglxkwq506] {
    color: black !important;
    text-decoration: none !important;
}


div.col-md-8 a:hover[b-sglxkwq506] {
    color: darkgray !important;
}


:-ms-input-placeholder[b-sglxkwq506] {
    color: gray;
}

[b-sglxkwq506]::-ms-input-placeholder {
    color: gray;
}

.btn-custom[b-sglxkwq506] {
    background-color: black;
    color: white;
    border: 1px solid black;
    outline: none;
    box-shadow: none;
    border-color: black;
}

.btn-custom:focus[b-sglxkwq506],
.btn-custom:active[b-sglxkwq506],
.btn-custom:hover[b-sglxkwq506] {
    background-color: black;
    color: white;
    border-color: black;
    box-shadow: none;
}


.form-control:focus[b-sglxkwq506] {
    box-shadow: none;
    border-color: black;
}


.btn-custom:focus[b-sglxkwq506] {
    box-shadow: none;
    border-color: black;
}

.search-form[b-sglxkwq506] {
    display: flex;
    justify-content: space-between;
}


.search-input[b-sglxkwq506] {
    flex-grow: 1;
    margin-right: 10px;
}


.search-button[b-sglxkwq506] {
    flex-shrink: 0;
    padding-top: 23px;
}



.tips-name-link a[b-sglxkwq506] {
    color: black;
    text-decoration: none;
}

div h3.tips-name-link[b-sglxkwq506] {
    color: black;
    text-decoration: none;
}


div.col-md-8 h3.tips-name-link:hover[b-sglxkwq506] {
    color: darkgray;
}


div.col-md-8 a[b-sglxkwq506] {
    color: black !important;
    text-decoration: none !important;
}


    div.col-md-8 a:hover[b-sglxkwq506] {
        color: darkgray !important;
    }


.text-right-md[b-sglxkwq506] {
    text-align: right;
}

    .text-right-md p[b-sglxkwq506] {
        margin-right: 0;
    }

