/* _content/UvarTo/Views/Recepts/Index.cshtml.rz.scp.css */
body[b-15aloij7iv] {
}
div.row p[b-15aloij7iv] {
    margin: 0px;
}
div.row[b-15aloij7iv] {
    border: solid black 2px;
    margin-top: 5px;
}
h3[b-15aloij7iv] {
    
}
#toggleFilterButton[b-15aloij7iv] {
    margin: 15px;
    padding: 15px;
    border: 0;
    background-color: black;
    color: white;
}
.form-group button[b-15aloij7iv] {
    margin: 15px;
    padding: 15px;
    border: 0;
    background-color: black;
    color: white;
}

/* Style the range slider */
.form-group #cookTimeRangeFilter[b-15aloij7iv] {
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, black, black) no-repeat;
    border: none; 
    cursor: pointer;
}

    /* Style the thumb (the draggable part of the slider) */
    .form-group #cookTimeRangeFilter[b-15aloij7iv]::-webkit-slider-thumb {
        -webkit-appearance: none; /* Remove the default styles on Safari */
        width: 20px; /* Set the thumb width as needed */
        height: 20px; /* Set the thumb height as needed */
        background: black; /* Set the thumb color to black */
        border: 10px solid #000000; /* Add a border for the thumb */
        border-radius: 50%; /* Create a round thumb */
        cursor: pointer; /* Change the cursor to a pointer when hovering over the thumb */
    }

/* Style the range value span */
.form-group #cookTimeRangeValue[b-15aloij7iv] {
    color: black; /* Set the text color to black to match the slider */
}
/* _content/UvarTo/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-lgk3iki9ve] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-lgk3iki9ve] {
  color: #0077cc;
}

.btn-primary[b-lgk3iki9ve] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-lgk3iki9ve], .nav-pills .show > .nav-link[b-lgk3iki9ve] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-lgk3iki9ve] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-lgk3iki9ve] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-lgk3iki9ve] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-lgk3iki9ve] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-lgk3iki9ve] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
