@model UvarTo.Domain.Entities.Foodmenu

<style>
    body {
        background-color: #F7F7F7;
    }

    /* Button styles */
    .btn-custom,
    .btn-custom:focus,
    .btn-custom:active,
    .btn-custom:hover {
        background-color: black;
        color: white;
        border: 1px solid black;
        outline: none;
        box-shadow: none;
    }

    div.row {
        padding: 16px 5px 5px 5px;
        margin-top: 15px;
        border: 0 groove #393E46;
        background-color: #EEEEEE;
    }

        div.row.no-border {
            background-color: #F7F7F7;
        }

    div.text-right-md {
        text-align: right;
    }

    .row p {
        word-wrap: break-word;
    }
</style>
<body>
    @{
        ViewData["Title"] = "Details";
    }

    <h1> @Html.DisplayFor(model => model.FoodmenuName)</h1>

    <div class="container">
        <h4>What is this foodmenu about</h4>
        <hr />

        <div class="row">
            <p>
                @Html.DisplayFor(model => model.FoodmenuText)
            </p>
        </div>
        <div class="row no-border">
            <div class="col-md-4">
            
            @if (User.IsInRole("Admin"))
            {
                <div class="col-md-4">
                    <p><a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-primary btn-block btn-custom">Edit</a></p>
                </div>
            }
            </div>
            <div class="col-md-4 offset-md-4 text-right-md">
                <p><a asp-action="Index" class="btn btn-primary btn-block btn-custom">Back to Tips and Tricks</a></p>
            </div>
        </div>
    </div>

</body>