@using Microsoft.AspNetCore.Identity
@using UvarTo.Infrastructure.Identity;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<UvarTo.Domain.Entities.Foodmenu>

<style>
    div.right {
        background-color: #EEEEEE;
        text-align: right;
        margin-top: 5px;
    }
    div.row.no-border {
        margin: 0;
        padding: 0;
        background-color: #F7F7F7;
    }

    div.col-md-8 h3.foodmenu-name-link a {
        color: black;
        text-decoration: none;
    }

    div.col-md-8 h3.foodmenu-name-link a:hover {
        color: darkgray;
    }

    div.col-md-8 a {
        color: black !important;
        text-decoration: none !important;
    }

    div.col-md-8 a:hover {
        color: darkgray !important;
    }

    .search-form {
        display: flex;
        justify-content: space-between;
    }

    .search-input {
        flex-grow: 1;
        margin-right: 10px;
    }

    .search-button {
        flex-shrink: 0;
        padding-top: 23px;
    }


    ::placeholder {
        color: gray;
    }
</style>
<body>
    @{
        ViewData["Title"] = "Index";
    }

    <div class="container">
        <div class="row justify-content-md-center no-border" id="main">
            <h2>Foodmenus</h2>           
            <div class="col-md-4">
                <form asp-action="ShowSearchResults" class="search-form">
                    <div class="form-group search-input">
                        <label for="searchPhrase" class="control-label"></label>
                        <input name="SearchPhrase" class="form-control" placeholder="Any diet for weight loss.." />
                    </div>
                    <div class="form-group search-button">
                        <input type="submit" value="Search" class="btn btn-primary btn-block btn-custom" />
                    </div>
                </form>
            </div>
        </div>
        <div class="row no-border">
            @if (User.IsInRole("Admin") || User.IsInRole("User"))
            {
                <div class="col-md-4">
                    <p>
                        <a asp-action="Create" class="btn btn-primary btn-block btn-custom">Create New</a>
                    </p>
                </div>
            }

            @if (User.IsInRole("Admin") || User.IsInRole("User"))
            {
                <div class="col-md-4 offset-md-4 text-right-md">
                    <p>
                        <a asp-action="UserItems" asp-controller="Foodmenu" class="btn btn-primary btn-block btn-custom">View My Foodmenus</a>
                    </p>
                </div>
            }
        </div>

        @if (Model.Any())
        {
            <div id="foodmenuContainer">
                @foreach (var item in Model)
                {
                    item.FoodmenuText = item.FoodmenuText.Length > 60 ? item.FoodmenuText.Substring(0, 60) + "..." : item.FoodmenuText;

                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="foodmenu-name-link"><a asp-action="Details" asp-route-id="@item.id">@item.FoodmenuName</a></h3>
                            <p> @Html.DisplayFor(model => item.FoodmenuText) </p>
                        </div>
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="col-md-4 right">
                                <p>
                                    @using (Html.BeginForm("DeleteFoodmenu", "Foodmenu", new { id = item.id }, FormMethod.Post))
                                    {
                                        <button class="btn btn-primary btn-block btn-custom" type="submit">Delete Foodmenu</button>
                                    }
                                </p>
                            </div>
                        }
                    </div>
                }
            </div>
        }
        else
        {
            <div style="text-align: center;">
                <p id="foodmenuText">Not any foodmenu found</p>
            </div>
        }
    </div>

</body>