/* _content/UvarTo/Views/Foodmenu/Index.cshtml.rz.scp.css */
body[b-jijk7slnkp] {
}
div.row p[b-jijk7slnkp] {
    margin: 0px;
}
div.row[b-jijk7slnkp] {
    border: solid black 2px;
    margin-top: 5px;
}
h3[b-jijk7slnkp] {
    
}
#toggleFilterButton[b-jijk7slnkp] {
    margin: 15px;
    padding: 15px;
    border: 0;
    background-color: black;
    color: white;
}
.form-group button[b-jijk7slnkp] {
    margin: 15px;
    padding: 15px;
    border: 0;
    background-color: black;
    color: white;
}

/* Style the range slider */
.form-group #cookTimeRangeFilter[b-jijk7slnkp] {
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, black, black) no-repeat;
    border: none; 
    cursor: pointer;
}

    /* Style the thumb (the draggable part of the slider) */
    .form-group #cookTimeRangeFilter[b-jijk7slnkp]::-webkit-slider-thumb {
        -webkit-appearance: none; /* Remove the default styles on Safari */
        width: 20px; /* Set the thumb width as needed */
        height: 20px; /* Set the thumb height as needed */
        background: black; /* Set the thumb color to black */
        border: 10px solid #000000; /* Add a border for the thumb */
        border-radius: 50%; /* Create a round thumb */
        cursor: pointer; /* Change the cursor to a pointer when hovering over the thumb */
    }

/* Style the range value span */
.form-group #cookTimeRangeValue[b-jijk7slnkp] {
    color: black; /* Set the text color to black to match the slider */
}
/* _content/UvarTo/Views/Ingredients/Index.cshtml.rz.scp.css */
body[b-dclfueewfr] {
}
div.row p[b-dclfueewfr] {
    margin: 0px;
}
div.row[b-dclfueewfr] {
    border: solid black 2px;
    margin-top: 5px;
}
h3[b-dclfueewfr] {
    
}
#toggleFilterButton[b-dclfueewfr] {
    margin: 15px;
    padding: 15px;
    border: 0;
    background-color: black;
    color: white;
}
.form-group button[b-dclfueewfr] {
    margin: 15px;
    padding: 15px;
    border: 0;
    background-color: black;
    color: white;
}

/* Style the range slider */
.form-group #cookTimeRangeFilter[b-dclfueewfr] {
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, black, black) no-repeat;
    border: none; 
    cursor: pointer;
}

    /* Style the thumb (the draggable part of the slider) */
    .form-group #cookTimeRangeFilter[b-dclfueewfr]::-webkit-slider-thumb {
        -webkit-appearance: none; /* Remove the default styles on Safari */
        width: 20px; /* Set the thumb width as needed */
        height: 20px; /* Set the thumb height as needed */
        background: black; /* Set the thumb color to black */
        border: 10px solid #000000; /* Add a border for the thumb */
        border-radius: 50%; /* Create a round thumb */
        cursor: pointer; /* Change the cursor to a pointer when hovering over the thumb */
    }

/* Style the range value span */
.form-group #cookTimeRangeValue[b-dclfueewfr] {
    color: black; /* Set the text color to black to match the slider */
}
/* _content/UvarTo/Views/Recipes/Index.cshtml.rz.scp.css */
body[b-ybe5yi1jvh] {
}

div.row p[b-ybe5yi1jvh] {
    margin: 0px;
}

div.row[b-ybe5yi1jvh] { 
    margin-top: 5px;
}
.no-border[b-ybe5yi1jvh] {
    border: 0px solid black;
}
.text-right-md[b-ybe5yi1jvh] {
    text-align: right;
}

    .text-right-md p[b-ybe5yi1jvh] {
        margin-right: 0;
    }


#toggleFilterButton[b-ybe5yi1jvh] {
    margin: 15px;
    padding: 15px;
    border: 0;
    background-color: black;
    color: white;
}
.button[b-ybe5yi1jvh]{
    margin-top: 8px;
}
.form-group button[b-ybe5yi1jvh] {
    margin: 15px;
    padding: 15px;
    border: 0;
    background-color: black;
    color: white;
}

/* Style the range slider */
.form-group #cookTimeRangeFilter[b-ybe5yi1jvh] {
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, black, black) no-repeat;
    border: none;
    cursor: pointer;
}

.recipe-text[b-ybe5yi1jvh] {
    max-height: 50px; /* Change this value as needed */
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Style the thumb (the draggable part of the slider) */
.form-group #cookTimeRangeFilter[b-ybe5yi1jvh]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove the default styles on Safari */
    width: 20px; /* Set the thumb width as needed */
    height: 20px; /* Set the thumb height as needed */
    background: black; /* Set the thumb color to black */
    border: 10px solid #000000; /* Add a border for the thumb */
    border-radius: 50%; /* Create a round thumb */
    cursor: pointer; /* Change the cursor to a pointer when hovering over the thumb */
}

/* Style the range value span */
.form-group #cookTimeRangeValue[b-ybe5yi1jvh] {
    color: black; /* Set the text color to black to match the slider */
}




div h2[b-ybe5yi1jvh] {
    text-align: center;
}

[b-ybe5yi1jvh]::placeholder {
    color: gray;
}

div.row[b-ybe5yi1jvh] {
    margin-top: 5px;
}

div #main[b-ybe5yi1jvh] {
    border: 0px solid black;
}



.recipe-name-link a[b-ybe5yi1jvh] {
    color: black;
    text-decoration: none;
}
div h3.recipe-name-link[b-ybe5yi1jvh] {
    color: black;
    text-decoration: none;
}


div.col-md-8 h3.recipe-name-link:hover[b-ybe5yi1jvh] {
    color: darkgray;
}


div.col-md-8 a[b-ybe5yi1jvh] {
    color: black !important;
    text-decoration: none !important;
}


div.col-md-8 a:hover[b-ybe5yi1jvh] {
    color: darkgray !important;
}


/* _content/UvarTo/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-lgk3iki9ve] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-lgk3iki9ve] {
  color: #0077cc;
}

.btn-primary[b-lgk3iki9ve] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-lgk3iki9ve], .nav-pills .show > .nav-link[b-lgk3iki9ve] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-lgk3iki9ve] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-lgk3iki9ve] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-lgk3iki9ve] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-lgk3iki9ve] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-lgk3iki9ve] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/UvarTo/Views/Tips/Index.cshtml.rz.scp.css */

div h2[b-50r9s28lb8] {
    text-align: center;
}
[b-50r9s28lb8]::placeholder {
    color: gray;
}

div.row[b-50r9s28lb8] {
   
    margin-top: 5px;
}

div #main[b-50r9s28lb8] {
    border: 0px solid black;
}





div.col-md-8 h3.recipe-name-link[b-50r9s28lb8] {
    color: black;
    text-decoration: none;
}


    div.col-md-8 h3.recipe-name-link:hover[b-50r9s28lb8] {
        color: darkgray;
    }


div.col-md-8 a[b-50r9s28lb8] {
    color: black !important;
    text-decoration: none !important;
}


    div.col-md-8 a:hover[b-50r9s28lb8] {
        color: darkgray !important;
    }


:-ms-input-placeholder[b-50r9s28lb8] {
    color: gray;
}

[b-50r9s28lb8]::-ms-input-placeholder {
    color: gray;
}

.btn-custom[b-50r9s28lb8] {
    background-color: black;
    color: white;
    border: 1px solid black;
    outline: none;
    box-shadow: none;
    border-color: black;
}

    .btn-custom:focus[b-50r9s28lb8],
    .btn-custom:active[b-50r9s28lb8],
    .btn-custom:hover[b-50r9s28lb8] {
        background-color: black;
        color: white;
        border-color: black;
        box-shadow: none;
    }


.form-control:focus[b-50r9s28lb8] {
    box-shadow: none;
    border-color: black;
}


.btn-custom:focus[b-50r9s28lb8] {
    box-shadow: none;
    border-color: black;
}

.search-form[b-50r9s28lb8] {
    display: flex;
    justify-content: space-between;
}


.search-input[b-50r9s28lb8] {
    flex-grow: 1;
    margin-right: 10px;
}


.search-button[b-50r9s28lb8] {
    flex-shrink: 0;
    padding-top: 23px;
}

div h2[b-50r9s28lb8] {
    text-align: center;
}

[b-50r9s28lb8]::placeholder {
    color: gray;
}


div #main[b-50r9s28lb8] {
    border: 0px solid black;
}



.tips-name-link a[b-50r9s28lb8] {
    color: black;
    text-decoration: none;
}

div h3.tips-name-link[b-50r9s28lb8] {
    color: black;
    text-decoration: none;
}


div.col-md-8 h3.tips-name-link:hover[b-50r9s28lb8] {
    color: darkgray;
}


div.col-md-8 a[b-50r9s28lb8] {
    color: black !important;
    text-decoration: none !important;
}


    div.col-md-8 a:hover[b-50r9s28lb8] {
        color: darkgray !important;
    }


.no-border[b-50r9s28lb8] {
    border: 0px solid black;
}
.text-right-md[b-50r9s28lb8] {
    text-align: right;
}

.text-right-md p[b-50r9s28lb8] {
    margin-right: 0; 
}
