
div h2[b-81a448qa2j] {
    text-align: center;
}

[b-81a448qa2j]::placeholder {
    color: gray;
}

body[b-81a448qa2j] {
    background-color: #F7F7F7;
}

div #main[b-81a448qa2j] {
    border: 0px solid black;
    background-color: #F7F7F7;
}

div.row[b-81a448qa2j] {
    padding: 16px 5px 5px 5px;
    margin-top: 15px;
    border: 0 groove #393E46;
    background-color: #EEEEEE;
}

div.row.no-border[b-81a448qa2j] {
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
}

.btn-custom[b-81a448qa2j],
.btn-custom:focus[b-81a448qa2j],
.btn-custom:active[b-81a448qa2j],
.btn-custom:hover[b-81a448qa2j] {
    background-color: black;
    color: white;
    border: 1px solid black;
    outline: none;
    box-shadow: none;
}

.text-right-md[b-81a448qa2j] {
    text-align: right;
}

.text-right-md p[b-81a448qa2j] {
    margin-right: 0;
}

.form-control:focus[b-81a448qa2j] {
    box-shadow: none;
    border-color: black;
}

.search-form[b-81a448qa2j] {
    display: flex;
    justify-content: space-between;
}

.search-input[b-81a448qa2j] {
    flex-grow: 1;
    margin-right: 10px;
}

.search-button[b-81a448qa2j] {
    flex-shrink: 0;
    padding-top: 23px;
}

[b-81a448qa2j]::placeholder {
    color: gray;
}
