body {
}


div h2 {
    text-align: center;
}

div.row {
    padding: 16px 5px 5px 5px;
    border: 0px groove #393E46;
    margin-top: 15px;
    background-color: #EEEEEE;
}


div #main {
    border: 0px solid black;
    background-color: #F7F7F7;
}


.btn-custom {
    background-color: black;
    color: white;
    border: 1px solid black;
    outline: none;
    box-shadow: none;
    border-color: black;
}

    .btn-custom:focus,
    .btn-custom:active,
    .btn-custom:hover {
        background-color: black;
        color: white;
        border-color: black;
        box-shadow: none;
    }


.form-control:focus {
    box-shadow: none;
    border-color: black;
}


.btn-custom:focus {
    box-shadow: none;
    border-color: black;
}


.text-right-md {
    text-align: right;
}

    .text-right-md p {
        margin-right: 0;
    }


::placeholder {
    color: gray;
}

:-ms-input-placeholder {
    color: gray;
}

::-ms-input-placeholder {
    color: gray;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none; /* Remove the default blue outline */
    border-color: #EEEEEE !important; /* Set your desired border color when focused */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important; /* Add a subtle box shadow when focused */
}

.search-input {
    flex-grow: 1;
    margin-right: 10px;
}

::placeholder {
    color: gray;
}