@model UvarTo.Domain.Entities.recipeviewmodel
@{
    ViewData["Title"] = "Edit";
}
<style>
     body {
         background-color: #F7F7F7;
     }
     /* Add this style block to your existing stylesheet or in a separate CSS file */
     .form-group input:focus,
     .form-group textarea:focus {
         outline: none; /* Remove the default blue outline */
         border-color: #000 !important; /* Set your desired border color when focused */
         box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important; /* Add a subtle box shadow when focused */
     }
</style>

<h1>Edit your recipe</h1>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Difficulty" class="control-label"></label>
                <input asp-for="Difficulty" class="form-control" />
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CookTime" class="control-label"></label>
                <input asp-for="CookTime" class="form-control" />
                <span asp-validation-for="CookTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeName" class="control-label"></label>
                <input asp-for="RecipeName" class="form-control" />
                <span asp-validation-for="RecipeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeCategory" class="control-label"></label>
                <input asp-for="RecipeCategory" class="form-control" />
                <span asp-validation-for="RecipeCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeText" class="control-label"></label>
                <input asp-for="RecipeText" class="form-control" />
                <span asp-validation-for="RecipeText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="photo" class="control-label"></label>
                <input asp-for="photo" class="form-control" />
                <span asp-validation-for="photo" class="text-danger"></span>
            </div>
            <div class="row no-border">
                <div class="col-md-4">
                    <p><input type="submit" value="Save" class="btn btn-primary btn-custom" /></p>
                </div>
                <div class="col-md-4 offset-md-4 text-right-md">
                    <p> <a asp-action="userItems" class="btn btn-primary btn-block btn-custom">Back to List</a></p>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
