@model UvarTo.Domain.Entities.Tips
<style>
    body {
        background-color: #F7F7F7;
    }
    /* Add this style block to your existing stylesheet or in a separate CSS file */
    .form-group input:focus,
    .form-group textarea:focus {
        outline: none; /* Remove the default blue outline */
        border-color: #000 !important; /* Set your desired border color when focused */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important; /* Add a subtle box shadow when focused */
    }
</style>
<body>
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit your Tip or Trick</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                    <h5><label asp-for="TipName" class="control-label"></label></h5>
                <input asp-for="TipName" class="form-control" />
                <span asp-validation-for="TipName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5><label asp-for="TipText" class="control-label"></label></h5>
                <input asp-for="TipText" class="form-control" />
                <span asp-validation-for="TipText" class="text-danger"></span>
            </div>
   
                <div class="row no-border">
                    <div class="col-md-4">
                        <p><input type="submit" value="Save" class="btn btn-primary btn-custom" /></p>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="col-md-4 offset-md-4 text-right-md">
                            <p> <a asp-action="Index" class="btn btn-primary btn-block btn-custom">Back to Tips</a></p>
                        </div>
                    }
                    else if (User.IsInRole("User"))
                    {
                        <div class="col-md-4 offset-md-4 text-right-md">
                            <p> <a asp-action="userItems" class="btn btn-primary btn-block btn-custom">Back to List</a></p>
                        </div>
                    }

                </div>
        </form>
    </div>
</div>

</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}