@using Microsoft.AspNetCore.Identity
@using UvarTo.Infrastructure.Identity;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<UvarTo.Domain.Entities.Tips>

<head>
    <link href="@Url.Content("~/css/Tips.css")" rel="stylesheet" type="text/css" />

</head>
<style>
    div.right {
        background-color: #EEEEEE;
        text-align: right;
        margin-top: 65px;
    }

    div.row.no-border {
        margin: 0;
        padding: 0;
        background-color: #F7F7F7;
    }

</style>
<body>
    @{
        ViewData["Title"] = "Index";
      
        
}




<div class="container">
    <div class="row justify-content-md-center no-border " id="main">
        <h2>Tips and tricks</h2>
        <!-- Search Box -->
        <div class="col-md-4" >
            <form asp-action="ShowSearchResults" class="search-form">
                <div class="form-group search-input">
                    <label for="searchPhrase" class="control-label"></label>
                    <input name="SearchPhrase" class="form-control" placeholder="Any time-saving tip or trick hmm.." />
                </div>
                <div class="form-group search-button">
                    <input type="submit" value="Search" class="btn btn-primary btn-block btn-custom" />
                </div>
            </form>
        </div>
    </div>
    <div class="row no-border">
        @if (User.IsInRole("Admin") || User.IsInRole("User"))
        {
            <div class="col-md-4">
                <p>
                    <a asp-action="Create" class="btn btn-primary btn-block btn-custom">Create New</a>
                </p>
            </div>
        }

        @if (User.IsInRole("Admin") || User.IsInRole("User"))
        {
            <div class="col-md-4 offset-md-4 text-right-md">
                <!-- Add offset for the second column -->
                <p>
                    <a asp-action="UserItems" asp-controller="Tips" class="btn btn-primary btn-block btn-custom">View My Tips and Tricks</a>
                </p>
            </div>
        }
    </div>

    <!-- Display Filtered Tips -->
    @if (Model.Any())
    {
        <div id="tipsContainer">
            @foreach (var item in Model)
            {
                    item.TipText = item.TipText.Length > 60 ? item.TipText.Substring(0, 60) + "..." : item.TipText;

                    <div class="row">
                    <div class="col-md-8">
                        <h3 class="tips-name-link"><a asp-action="Details" asp-route-id="@item.Id">@item.TipName</a></h3>
                            <p> @Html.DisplayFor(model => item.TipText) </p>
                    </div>
                    <div class="col-md-4 right">
                        @using (Html.BeginForm("DeleteTips", "Tips", new { id = item.Id }, FormMethod.Post))
                        {
                            <button class="btn btn-primary btn-block btn-custom" type="submit">Delete Tip</button>
                        }
                        
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <!-- Message for No Tips Found -->
        <div style="text-align: center;">
            <p id="tipText">Not any tip or trick found</p>
        </div>
    }
</div>

</body>

