
@model List<Tips>

<style>
    body {
        background-color: #F7F7F7;
    }
    /* Add this style block to your existing stylesheet or in a separate CSS file */
    #tipsContainer .row .col-md-8 h3.tips-name-link a {
        color: black !important;
        text-decoration: none;
    }

    #tipsContainer .row .col-md-8 h3.tips-name-link a:hover {
        color: darkgray !important;
    }

    div.right {
        background-color: #F7F7F7;
        text-align: right;
    }

   

</style>

<body>
<h2>List of your added Tips and Tricks</h2>
@* <p>User ID: @ViewBag.UserIdString</p> *@
<p class="center">By clicking on its name you can edit</p>
<div class="row right">
        <p class="right"><a asp-action="Index" class="btn btn-primary btn-block btn-custom">Back to Tips and Tricks</a></p>

 </div>

<div class="container">



@if (Model.Any())
{
    <div id="tipsContainer">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-8">
                    <h3 class="tips-name-link"><a asp-action="Edit" asp-route-id="@item.Id">@item.TipName</a></h3>
                    <p>@item.TipText</p>
                </div>
                <div class="col-md-4 right">
                     <p><input type="submit" value="Delete" class="btn btn-primary btn-block btn-custom" /></p>
                </div>
            </div>
        }
    </div>
}

</div>

</body>