
div h2 {
    text-align: center;
}

::placeholder {
    color: gray;
}
div #main {
    margin-bottom: 25px;
    background-color: #F7F7F7;
}
div.row {
    background-color: #EEEEEE;
    margin-top: 5px;
}







div.col-md-8 h3.recipe-name-link {
    color: black;
    text-decoration: none;
}


div.col-md-8 h3.recipe-name-link:hover {
    color: darkgray;
}


div.col-md-8 a {
    color: black !important;
    text-decoration: none !important;
}


div.col-md-8 a:hover {
    color: darkgray !important;
}


:-ms-input-placeholder {
    color: gray;
}

::-ms-input-placeholder {
    color: gray;
}

.btn-custom {
    background-color: black;
    color: white;
    border: 1px solid black;
    outline: none;
    box-shadow: none;
    border-color: black;
}

    .btn-custom:focus,
    .btn-custom:active,
    .btn-custom:hover {
        background-color: black;
        color: white;
        border-color: black;
        box-shadow: none;
    }


.form-control:focus {
    box-shadow: none;
    border-color: black;
}


.btn-custom:focus {
    box-shadow: none;
    border-color: black;
}

.search-form {
    display: flex;
    justify-content: space-between;
}


.search-input {
    flex-grow: 1;
    margin-right: 10px;
}


.search-button {
    flex-shrink: 0;
    padding-top: 23px;
}
